@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Jersey 10", sans-serif;
    font-size: 16px;
    background: #130f40;
  }
  
  h1 {
    text-align: center;
    color: white;
    font-size: 32px;
  }
  
  #root {
    background: #130f40;
  }
  
  .memory-game {
    width: 100vw;
    max-height: 100vh;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    perspective: 1000px;
    /* background-color: #130f40; */
  }
  
  .memory-card {
    width: 20%;
    max-width: 120px;
    min-width: 120px;
    height: 120px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }


.memory-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ทำให้รูปภาพไม่บีบ */
}
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    background: #30336b;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
  

  @media (max-width: 768px) {
    .memory-card {
        width: 45%; /* Adjust for mobile screens */
    }
}

@media (max-width: 250px) {
    .memory-card {
        width: 100%; /* Adjust for small mobile screens */
    }
}
